@*<div class="footer-open bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                    <img src="~/Content/images/logo-22112021.png" style="height:40px; object-fit:scale-down" alt="Logo-Open24" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-12">
                    <h4 style="line-height: 25px;">
                        CÔNG TY CP CÔNG NGHỆ PHẦN MỀM SSOFT VIỆT NAM <br />
                        SSOFT VIETNAM JSC
                    </h4>
                </div>
            </div>
            <div class="row list-info-footer">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box-info">
                    <h4>Thông tin hỗ trợ:</h4>
                    <div style="display: flex">
                        <i class="fa fa-envelope" aria-hidden="true" style="color: #FFD40C"></i>
                        <p style="margin-left: 15px">hotro@open24.vn</p>
                    </div>
                    <div style="display: flex">
                        <i class="fa fa-users" aria-hidden="true" style="color: #FFD40C"></i>
                        <p style="margin-left: 15px">Về Open24</p>
                    </div>
                    <div style="display: flex">
                        <i class="fa fa-file-text-o" aria-hidden="true" style="color: #FFD40C"></i>
                        <p style="margin-left: 15px">Điều khoản sử dụng</p>
                    </div>
                    <div class="icon-social-network" style="display: flex; margin-top: 15px">
                        <a href="#">
                            <img style="margin-right: 3vh" src="~/Content/images/open24/IconHomePage/twitter-white.png" />
                        </a>
                        <a href="https://facebook.com/open24.vn" target="_blank">
                            <img style="margin-right: 3vh" src="~/Content/images/open24/IconHomePage/fb-white.png" />
                        </a>
                        <a href="#">
                            <img style="margin-right: 3vh" src="~/Content/images/open24/IconHomePage/ig-white.png" />
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box-info">
                    <h4>Trụ sở:</h4>
                    <div style="display: flex;margin-top: 15px">
                        <i class="fa fa-map-marker" aria-hidden="true" style="color: #FFD40C; margin: 2px 10px 0px 0; font-size: large;"></i>
                        Tầng 6,Tòa nhà Việt Á, <br />
                        Số 9 Duy Tân, Q. Cầu Giấy, <br />
                        Tp Hà Nội
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box-info">
                    <h4>Hà Nội:</h4>
                    <div style="display: flex;margin-top: 15px">
                        <i class="fa fa-map-marker" aria-hidden="true" style="color: #FFD40C; margin: 2px 10px 0px 0; font-size: large;"></i>
                        Tầng 7, Tòa nhà Handiresco, <br />
                        Số 31 Lê Văn Lương, <br />
                        Thanh Xuân, Hà Nội.
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box-info">
                    <h4>&nbsp</h4>
                    <div style="display: flex;margin-top: 15px">
                        <i class="fa fa-phone" aria-hidden="true" style="color: #FFD40C; margin: 2px 10px 0px 0; font-size: large;"></i>
                        0247.303.9333 <br />
                        0936.363.069 <br />

                    </div>

                </div>

            </div>
        </div>
    </div>*@
<style>
    .footer-open {
        padding: 8vh 0 8vh 0px;
        background: #F4F5F7;
        height: auto;
        color: #172B4D
    }
    .text-lable {
        font-size: 16px;
        font-weight: 700;
        color: #172B4D;
    }
    .text-content {
        font-size: 14px;
        font-weight: 400;
        color: #172B4D;
    }
</style>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0" nonce="Eo9xwGuD"></script>
<div class="footer-open bg-footer" style="background: #F4F5F7">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="~/Content/images/logoOpen.png" style="height:40px; object-fit:cover; margin-bottom:32px" alt="Logo-Open24" />
                <h4 style="line-height: 24px; margin-bottom:28px;font-size: 16px; font-weight: 700; color: #172B4D">
                    CÔNG TY CP CÔNG NGHỆ PHẦN MỀM SSOFT VIỆT NAM <br />
                    SSOFT VIETNAM JSC
                </h4>
                <div class="fb-page" data-href="https://www.facebook.com/open24.vn" data-tabs="events" data-width="340" data-height="130" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/open24.vn" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/open24.vn">Open24</a></blockquote></div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <h4 class="text-lable" style="margin-bottom: 32px">Thông tin hỗ trợ</h4>
                        <h5 class="text-content" style="margin-bottom:28px">Giới thiệu</h5>
                        <h5 class="text-content" style="margin-bottom:28px">Hướng dẫn sử dụng</h5>
                        <h5 class="text-content" style="margin-bottom:28px">Chính sách bảo mật</h5>
                        <h5 class="text-content" style="margin-bottom:28px">Điều khoản sử dụng</h5>
                    </div>
                    <div class="col-12 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h4 class="text-lable" style="margin-bottom:28px">Liên hệ</h4>
                        <h4 class="text-lable">Trụ sở:</h4>
                        <div class="text-content" style="display: flex;margin-bottom: 15px; font-weight:700">
                            <i class="fa fa-map-marker" aria-hidden="true" style="color: #172B4D; margin: 2px 10px 0px 0; font-size: large;"></i>
                            Tầng 6,Tòa nhà Việt Á,Số 9 Duy Tân, Q. Cầu Giấy, Tp Hà Nội
                        </div>
                        <h4 class="text-lable">Hà Nội:</h4>
                        <div class="text-content" style="display: flex; margin-bottom: 15px;font-weight:700">
                            <i class="fa fa-map-marker" aria-hidden="true" style="color: #172B4D; margin: 2px 10px 0px 0; font-size: large;"></i>
                            Tầng 7, Tòa nhà Handiresco,Số 31 Lê Văn Lương, Thanh Xuân, Hà Nội.
                        </div>
                        <div style="display: flex; margin-bottom: 15px; font-weight:700">
                            <i class="fa fa-phone" aria-hidden="true" style="color: #172B4D; margin: 2px 10px 0px 0; font-size: large; "></i>
                            <h5 class="text-content" style="font-weight:700">
                                Hotline: <span>
                                    0247.303.9333 <br />
                                    0936.363.069 <br />
                                </span>
                            </h5>
                        </div>
                        <div style="display: flex; font-weight:700; align-items:center">
                            <i class="fa fa-envelope" aria-hidden="true" style="color: #172B4D"></i>
                            <p style="margin-left: 15px"><h5 class="text-content" style="font-weight:700">Email: hotro@open24.vn</h5></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>