@{
    ViewBag.Title = "Phần mềm quản lý Gara ô tô, xe máy";
    ViewBag.MetaDescription = "Phần mềm quản lý kinh doanh và bán hàng toàn diện Open24";
    ViewBag.TitleCus = "Khách hàng đang sử dụng Lucky Gara !";
}
<style>
    :root {
        --color-theme: #0E63C4;
        --color-theme-2: #b7d7fa;
        --color-theme-3: #FFFFFF;
    }

    .op-description-body {
        display: block;
    }

    .op-description-toggle.arrow-up > i {
        transform: rotate(-180deg);
    }

    .op-description-toggle > i {
        transition: all 0.4s ease;
        transform: rotate(0);
    }

    .op-description {
        background: white;
        border-radius: 10px;
        border: 1px solid #D4EBFF;
        padding: 10px 3px;
    }

    .op-description-title {
        color: black;
        font-size: 16px;
        font-weight: bold;
    }

    .container-fluid {
        background-color: var(--color-theme-3)
    }

    .op-gara-heading {
        text-align: left;
        font-family: Roboto;
        font-weight: 700;
        margin: 0;
        margin-bottom: 30px;
    }

    .btn-ads {
        height: 40px;
        background: #28A59D;
        text-align: center;
        padding: 7px 12px;
        font-size: 16px;
        font-weight: normal;
        border: none;
        border-radius: 20px;
        font-family: "Roboto";
        width: 175px;
        color: #FEFEFF;
        letter-spacing: 0;
        line-height: 24px;
        transition: all 0.4s ease;
    }

        .btn-ads:hover {
            height: 40px;
            background: #28A59D;
            text-align: center;
            padding: 7px 12px;
            font-size: 16px;
            font-weight: normal;
            border: none;
            border-radius: 20px;
            font-family: "Roboto";
            width: 175px;
            color: #FEFEFF;
            letter-spacing: 1.5px;
            line-height: 24px;
            transition: all 0.4s ease;
        }

    .card-title {
        color: #172B4D;
        font-size: 18px;
        font-weight: 700;
    }

    .card-text {
        color: #666768;
        font-size: 14px;
        font-weight: 500;
    }

    .card {
        border-radius: 10px;
        background: #FEFEFF;
        box-shadow: 5px 5px 20px 0px #2745731a;
        border: none;
        padding: 40px 24px;
        height: 100%;
    }

    .card-body {
        flex: 1 1 auto;
        padding-top: 24px;
    }

    .title-body {
        padding: 40px 40px;
        text-align: center;
    }

    .title {
        color: #28A59D;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
    }

    .title-page {
        color: #333435;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }

    .list-ul-li::before {
        color: #A0D911;
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 5px
    }

    .op-panel-detail > div:before {
        color: #12B76A;
        background: #D1FADF;
        border-radius: 50%;
        padding: 4px;
    }

    .op-panel-detail > div.op-price-excepted:before {
        content: '\f00c';
        color: #525F7A;
        background: #F2F4F7;
        border-radius: 50%;
        padding: 4px;
    }

    .op-price-excepted {
        padding-left: 0;
    }
</style>

@using Model_banhang24vn.Common
<div id="renderBody">
    <input id="currentPage" value="Gara" hidden />
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content p-5" data-aos="fade-right" style="border-radius: 0 0 20% 0;background: #F8F8F8;">
                <div class="op-gara-heading p-5">
                    <div style="margin-bottom: 18px; color: #28A59D;font-size:48px">Open24 Gara</div>
                    <span style=" color: #172B4D;font-size:32px ">
                        Phần mềm cực hay
                    </span>
                    <br />
                    <span style=" color: #172B4D; font-size:32px ">
                        Chạy là mê ngay!
                    </span>
                    <div>
                        <button class="btn-ads" style="margin-bottom: 18px;" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
                    </div>
                </div>
            </div>
            <div class="op-banner-image">
                <img src="~/Content/images/gara/gara_car_2.png" class="gara-car-img" alt="gara xe" />

            </div>
        </div>
    </div>
    <!--Tổng quan-->
    <div class="container pb-4">
        <div class="title-body">
            <h4 class="title" style="color: #FF5C35">Đơn giản hóa quản lý</h4>
            <h2 class="title title-page">
                Phần mềm quản lý toàn diện
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card text-center">
                    <div>
                        <img src="~/Content/images/gara/statistics.svg" />
                    </div>
                    <div class="card-body mt-3">
                        <h5 class="card-title">Tăng trưởng doanh thu</h5>
                        <p class="card-text">Kiểm soát chặt chẽ lãi lỗ, các khoản thu chi nhờ báo cáo chính xác, kịp thời</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card text-center">
                    <div>
                        <img src="~/Content/images/gara/budgeting.svg" />
                    </div>
                    <div class="card-body mt-3">
                        <h5 class="card-title">Tối ưu chi phí</h5>
                        <p class="card-text">Cung cấp dịch vụ tốt nhất với mức chi phí tốt nhất</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card text-center">
                    <div>
                        <img src="~/Content/images/gara/system.svg" />
                    </div>
                    <div class="card-body mt-3">
                        <h5 class="card-title">Quản lý hiện đại</h5>
                        <p class="card-text">Quản lý thông minh linh hoạt, mọi lúc mọi nơi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End tổng quan-->
    <!--Tính năng-->
    <div class="container-fluid pb-4" style="background: #F4F5F7;">
        <div class="container">
            <div class="title-body">
                <h4 class="title">Tính năng ưu việt</h4>
                <h2 class="title title-page">Giải pháp toàn diện đáp ứng nghiệp vụ dễ dàng</h2>
            </div>
            <div class="row" style="margin-bottom:80px">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                    <div style="
                                background-image: url('../../content/images/gara/pm-gara.png');
                                background-position: bottom center;
                                background-repeat: no-repeat;
                                min-height: 383px;">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                    <div class="p-3 gap-2 flex flex-column">
                        <div>
                            <div class="flex flex-row justify-content-start align-items-center" style="background: #28A59D; padding: 24px; border-radius: 8px 8px 0px 0px;">
                                <img src="~/Content/images/gara/i-shipping.svg" />
                                <span style="color:white; font-size:18px;font-weight:700">Quản lý xe, phụ tùng, kho</span>
                            </div>
                            <div style="padding:24px">
                                <ul>
                                    <li class="list-ul-li" style="color: #666768; font-size: 16px; line-height: 24px; font-weight: 400">Theo dõi chi tiết thông tin xe: Biển số, số khung, số máy, nhật ký sửa chữa</li>
                                    <li class="list-ul-li" style="color: #666768; font-size: 16px; line-height: 24px; font-weight: 400">Quản lý danh mục phụ tùng, dịch vụ sửa chữa</li>
                                    <li class="list-ul-li" style="color: #666768; font-size: 16px; line-height: 24px; font-weight: 400">Quản lý kho hàng, nhập mua, xuất bán, xuất sửa chữa, tồn kho</li>
                                </ul>
                            </div>
                        </div>

                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-repair.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Quản lý sửa chữa</span>
                        </div>
                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-clipbox.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Quản lý hợp đồng, báo giá</span>
                        </div>
                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-sales.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Quản lý bán hàng</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom:80px">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                    <div class="p-3 gap-2 flex flex-column">
                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-money.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Quản lý tài chính, công nợ</span>
                        </div>
                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-crm.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Quản lý khách hàng, bảo hiểm, nhà cung cấp</span>
                        </div>
                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-report.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Hệ thống báo cáo kinh doanh</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                    <div style="
                                background-image: url('../../content/images/gara/pm-gara.png');
                                background-position: bottom center;
                                background-repeat: no-repeat;
                                min-height: 383px;">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom:40px">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                    <div style="
                                background-image: url('../../content/images/gara/pm-gara.png');
                                background-position: bottom center;
                                background-repeat: no-repeat;
                                min-height: 383px;">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                    <div class="p-3 gap-2 flex flex-column">
                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-calendar.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Nhắc lịch bảo hành, bảo dưỡng</span>
                        </div>
                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-nhan-vien.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Chấm công, tính lương, hoa hồng</span>
                        </div>
                        <div class="flex gap-1 flex-row justify-content-start align-items-center bg-white" style="padding: 24px; border-radius: 8px;">
                            <img src="~/Content/images/gara/i-mail.png" />
                            <span style="color:black; font-size:18px;font-weight:700">Marketing email, smsbrandname</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn-ads" style="margin-bottom: 18px;" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
            </div>
        </div>
    </div>
    <!--End Tính nănh-->
    <!--Quy trình sửa chưa-->
    <div class="container">
        <div class="title-body">
            <h4 class="title">Quy trình chuyên nghiệp</h4>
            <h2 class="title title-page">Quy trình sửa chữa Open24 Gara</h2>
        </div>
        <div style="height: auto; object-fit:fill; text-align:center">
            <img src="~/Content/images/gara/bg-quy-trinh-sua-chua-gara.png" style="width:100%; height:100%" />
        </div>
    </div>
    <!--End quy trình sửa chữa-->
    <!--Bảng giá-->
    <div class="container-fluid" style="background: #F4F5F7; padding:80px 0px">
        <div class="container">
            <div class="title-body">
                <h4 class="title">Bảng giá</h4>
                <h2 class="title title-page">Không chi phí phát sinh <br />Hỗ trợ trong suốt quá trình sử dụng</h2>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shadow rounded-3">
                        <div class="bg-white" style="padding: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px ">
                            <div class="text-center">
                                <img src="~/Content/images/gara/i-zap.svg" style="margin-bottom:20px" />
                                <h4 style="text-transform: uppercase; color: #28A59D; font-size:20px;font-weight:600;">Gói tiết kiệm</h4>
                                <div style="margin:8px 0px">
                                    <font style="color: #000203; font-size: 48px; font-weight:600">595.000</font>
                                    <span style="color: #666768;font-size:18px;font-weight:400">đ/tháng</span>
                                </div>
                                <div style="text-decoration: line-through; color: #666768;font-size:16px;font-weight:700;margin-bottom:32px;">
                                    <font>795.000</font>
                                    <span>đ/tháng</span>
                                </div>
                            </div>
                            <div class="op-panel-detail">
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý xe, phụ tùng, kho</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý sửa chữa</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý hợp đồng, báo giá</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý mua hàng, bán hàng</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý khách hàng, bảo hiểm</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý tài chính, công nợ</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Hệ thống báo cáo kinh doanh</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Nhắc lịch bảo hành, bảo dưỡng</span></div>
                                <div class="op-price-excepted"><span style="margin-left:12px;font-size:16px;font-weight:400">Chấm công, tính lương, hoa hồng</span></div>
                                <div class="op-price-excepted"><span style="margin-left:12px;font-size:16px;font-weight:400">Marketing email, smsbrandname</span></div>

                            </div>
                            <div class="text-center">
                                <small class="op-price-noted">
                                    Phù hợp gara 5 - 10 nhân viên
                                </small>
                                <label> 01 chi nhánh</label>
                                <label> 03 tài khoản đăng nhập</label>
                            </div>
                        </div>
                        <div style="padding:32px; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; background: #EEF0F4">
                            <button class="btn w-100" style="color: #28A59D;height:40px" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div style="position:relative">
                        <div style="padding: 0 32px; text-align:center;position:absolute;z-index:2;width:100%;top:-20px">
                            <div style="background: #FF5C35; border-radius: 20px; color: white; height: 40px;display:flex;justify-content:center;align-items:center ">
                                <span style="font-size:16px;font-weight:400">Đề xuất</span>
                            </div>
                        </div>
                        <div class="shadow rounded-3">
                            <div class="bg-white" style="padding: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px ">
                                <div class="text-center">
                                    <img src="~/Content/images/gara/i-zap.svg" style="margin-bottom:20px" />
                                    <h4 style="text-transform: uppercase; color: #28A59D; font-size:20px;font-weight:600;">Gói tiêu chuẩn</h4>
                                    <div style="margin:8px 0px">
                                        <font style="color: #000203; font-size: 48px; font-weight:600">695.000</font>
                                        <span style="color: #666768;font-size:18px;font-weight:400">đ/tháng</span>
                                    </div>
                                    <div style="text-decoration: line-through; color: #666768;font-size:16px;font-weight:700;margin-bottom:32px;">
                                        <font>995.000</font>
                                        <span>đ/tháng</span>
                                    </div>
                                </div>
                                <div class="op-panel-detail">
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý xe, phụ tùng, kho</span></div>
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý sửa chữa</span></div>
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý hợp đồng, báo giá</span></div>
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý mua hàng, bán hàng</span></div>
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý khách hàng, bảo hiểm</span></div>
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý tài chính, công nợ</span></div>
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Hệ thống báo cáo kinh doanh</span></div>
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Nhắc lịch bảo hành, bảo dưỡng</span></div>
                                    <div><span style="margin-left:12px;font-size:16px;font-weight:400">Chấm công, tính lương, hoa hồng</span></div>
                                    <div class="op-price-excepted"><span style="margin-left:12px;font-size:16px;font-weight:400">Marketing email, smsbrandname</span></div>

                                </div>
                                <div class="text-center">
                                    <small class="op-price-noted">
                                        Phù hợp gara 10 - 20 nhân viên
                                    </small>
                                    <label> 01 chi nhánh</label>
                                    <label> 06 tài khoản đăng nhập</label>
                                </div>
                            </div>
                            <div style="padding:32px; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; background: #EEF0F4">
                                <button class="btn w-100" style="background: #28A59D;color:white; height: 40px" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shadow rounded-3">
                        <div class="bg-white" style="padding: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px ">
                            <div class="text-center">
                                <img src="~/Content/images/gara/i-zap.svg" style="margin-bottom:20px" />
                                <h4 style="text-transform: uppercase; color: #28A59D; font-size:20px;font-weight:600;">Gói nâng cao</h4>
                                <div style="margin:8px 0px">
                                    <font style="color: #000203; font-size: 48px; font-weight:600">825.000</font>
                                    <span style="color: #666768;font-size:18px;font-weight:400">đ/tháng</span>
                                </div>
                                <div style="text-decoration: line-through; color: #666768;font-size:16px;font-weight:700;margin-bottom:32px;">
                                    <font>1.295.000</font>
                                    <span>đ/tháng</span>
                                </div>
                            </div>
                            <div class="op-panel-detail">
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý xe, phụ tùng, kho</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý sửa chữa</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý hợp đồng, báo giá</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý mua hàng, bán hàng</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý khách hàng, bảo hiểm</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Quản lý tài chính, công nợ</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Hệ thống báo cáo kinh doanh</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Nhắc lịch bảo hành, bảo dưỡng</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Chấm công, tính lương, hoa hồng</span></div>
                                <div><span style="margin-left:12px;font-size:16px;font-weight:400">Marketing email, smsbrandname</span></div>

                            </div>
                            <div class="text-center">
                                <small class="op-price-noted">
                                    Phù hợp gara 20 - 50 nhân viên
                                </small>
                                <label> 01 chi nhánh</label>
                                <label> 15 tài khoản đăng nhập</label>
                            </div>
                        </div>
                        <div style="padding:32px; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; background: #EEF0F4">
                            <button class="btn w-100" style="color: #28A59D;height:40px" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End bảng giá-->
    <div class="container-fluid"></div>
    <!--Start khách hàng-->
    <div class="container">
        <div class="title-body">
            <h2 class="title title-page">
                Doanh nghiệp tin dùng
            </h2>
        </div>
        <div class="p-3">
            <ul class="op-customer-list">
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Hyundai.png" alt="hyundai" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Wolkswagen_logo.png" alt="Wolkswagen_logo" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/KIA.png" alt="kia" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Honda_logo.png" alt="Honda_logo" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/BridgeStone.png" alt="BridgeStone" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Mitsubishi.png" alt="Mitsubishi" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/HoangHuy.png" alt="HoangHuy" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Piago.png" alt="Piago" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--End khách hàng-->
    <div class="container-fluid p-4" style="background: #DFF0EA">
        <div class="text-center">
            <h2 class="title title-page">Giải pháp toàn diện đáp ứng nghiệp vụ dễ dàng</h2>
            <button class="btn-ads" style="margin-top: 18px; background: #FF5C35;" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử ngay</button>
        </div>
    </div>
</div>

@Html.Partial("_RequestPartial")
<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="padding-top: 5%;">
        <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>
<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>
        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>





