
@{
    ViewBag.Title = ViewBag.TenKhachHang;

}
<style>
    b {
        color: #3D475C;
        font-size:24px;
        font-weight:700;
    }
    p > span {
        color: #525F7A;
        font-size: 18px;
        font-weight: 400;
    }
    .input-text {
        border: 1px solid #C2C9D6;
        border-radius: 8px;
        width: 100%;
        height: 40px;
        padding: 9px 4px 9px 16px;
    }
    .input-text:focus {
        border-color: #1183d6;
        outline: none;
        box-shadow: 0 0 3px 0 #1183d6;
    }
</style>

<div id="renderNews">
    <input id="op_type" hidden value="KhachhangChitiet" />
    <input id="customerID" hidden value="@ViewBag.CustomerId" />
    <div class="container-fluid" style="background: #F0F0F0">
        <div class="container text-center" style="padding:80px 0px">
            <h6 style="color: #172B4D;font-size:16px;font-weight:400">Câu chuyện khách hàng</h6>
            <div><span style="font-size:48px;font-weight:700;color:#172B4D">{{data.name}}</span></div>
            <div><span style="color: #525F7A; font-size: 16px; font-weight: 400 ">{{data.note}}</span></div>
        </div>
    </div>
    <div class="container-fluid bg-white">
        <div class="container" style="padding:80px 0">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-12 col-xs-12">
                    <div v-html="data.discription" style="color: #525F7A"></div>
                </div>
                <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12">
                    <div style="padding:32px" class="text-start">
                        <img src="~/Content/images/open24/CustomerPage/i-send.svg" />
                        <div style="margin-top: 32px;">
                            <span style="color: #172B4D;font-size:24px;font-weight:600">Đăng ký tư vấn</span>
                        </div>
                        <div style="margin-top:12px;margin-bottom:32px">
                            <span style="color: #525F7A;font-size:16px;font-weight:400">Gửi mail</span>
                        </div>
                        <div>
                            <input class="input-text" type="text" placeholder="Nhập"/>
                        </div>
                        <div style="margin-top:16px">
                            <button class="btn w-100" style="color: white; background: #FF5C35;border-radius:8px">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_WeareonePartial")
    <div class="container" style="padding:80px 0">
        <div style="margin-bottom:40px" class="row align-items-center">
            <div class="float-start col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <h3 style="color: #29303D;font-size:32px;font-weight:700">Các câu chuyện của khách hàng</h3>
            </div>
            <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <a href="/khach-hang" class="btn-primary float-end" style="padding: 12px 24px; border-radius: 24px; background: #0077E4;color:#FFFFFF;font-size:16px;font-weight:700">Xem tất cả</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12 h-100 mb-3"  v-for="(item, index) in listcurentolbar.slice(0,2)">
                <div style="background: #F9F9F9;border-radius:24px;padding:24px" class="h-100">
                    <div style="position:relative;margin-top:16px">
                        <img style="width:100%;height:320px;border-radius:8px;z-index:1" />
                        <button style="bottom: 21px; left: 21px; position: absolute; z-index: 2; background: #FFFFFF; color: #3D475C; padding: 8px 24px;border-radius:24px;border:none;font-size:14px;font-weight:500 ">
                        {{item.TypeBusinessname}}
                        </button>
                    </div>
                    <div class="mt-2 mb-2"><span style="color: #525F7A;font-size:16px;font-weight:400">{{item.CreatedDate}}</span></div>
                    <div style="color:#3D475C;font-weight:700;font-size:18px;height:54px;overflow:hidden">{{item.Name}}</div>
                    <div class="mt-3" style="height: 72px; overflow: hidden; text-overflow: ellipsis; color: #525F7A; font-size: 16px; font-weight: 400">
                        {{item.Note}}
                    </div>
                    <a href="javascript:void(0)" v-bind:href="item.Url" style="color: #0078D7;font-size:18px;font-weight:700" class="text-decoration-underline mt-2">Đọc thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/js/Client/open24/RenderNewVue.js"></script>
