
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Open24" content="">
    <title>Open24 - LandingPage - Gara</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="/Content/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/landing-page/gara/landing-page-gara.css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" rel="stylesheet" />
    <script src="/Content/js/jquery-3.2.1.min.js"></script>
    <script src="/Content/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/vue.min.js"></script>
</head>
<body>
    <div id="renderBody">
        <input id="currentPage" value="Gara" hidden />
        <div class="w-100">
            <div class="landing-gara-nav-bar d-flex align-items-center">
                <div class="container px-3 px-md-5">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="/Content/images/logo-22112021.png" style="object-fit:cover;height:35px;width:fit-content" alt="Logo-Open24" />
                        <div class="navbar d-none d-md-block">
                            <ul class="d-flex flex-row justify-content-between align-items-center list-unstyled text-white gap-4 mb-0">
                                <li class="nav-link" style="cursor:pointer"><a href="#tinhNangRef" class="text-white text-decoration-none">Tính năng</a></li>
                                <li class="nav-link" style="cursor:pointer"><a href="#quyTrinhRef" class="text-white text-decoration-none">Quy trình</a></li>
                                <li class="nav-link" style="cursor:pointer"><a href="#bangGiaRef" class="text-white text-decoration-none">Bảng giá</a></li>
                                <li class="nav-link" style="cursor:pointer"><a href="#khachHangRef" class="text-white text-decoration-none">Khách hàng</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-trial" style="border-radius:8px" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký</button>
                    </div>
                </div>
            </div>
            <div class="landing-gara-content">
                @* start - header *@
                <div class="landing-page-header">
                    <div class="position-relative">
                        <img class="img-bg-gara-header w-100" src="~/Content/images/landing-page/gara/bg-landing-page-header.png" />
                        <div class="d-flex flex-column gap-1 gap-md-2 align-items-center content-header">
                            <span class="text-white display-4 text-center" style="font-weight: 700; font-family: inherit">Open24 GARA</span>
                            <span class="text-white h4 text-center" style="font-weight:700;font-family:inherit">Phần mềm cực hay - Chạy là mê ngay!</span>
                            <button class="btn btn-trial" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
                        </div>
                    </div>
                </div>
                @* end - header *@
                <div class="container">
                    <div class="d-flex w-100 justify-content-between align-items-center ps-3 ps-md-5 pe-0 pe-md-5" style="background-color: #FF5C35; border-radius:32px;">
                        <div class="d-flex justify-content-center text-center flex-column pt-2 pt-md-4 pb-md-5 pb-2">
                            <span class="text-white h3 text-uppercase" style="font-weight:600;font-family:inherit">GIẢI PHÁP QUẢN LÝ GARA CHUYÊN NGHIỆP</span>
                            <span class="text-white h4" style="font-weight:700 ;font-family:inherit">Siêu ưu đãi giảm <span class="display-3" style="font-weight:700 ;font-family:inherit">30%</span></span>
                        </div>
                        <img class="d-none d-md-block" src="~/Content/images/landing-page/gara/ticket.png" />
                    </div>
                </div>
                @* start - tính năng *@
                <div class="op-gara-content" id="tinhNangRef">
                    <div class="container px-3 px-md-5">
                        <div class="d-flex flex-column gap-3 align-items-center">
                            <span class="text-uppercase text-center h7" style="color: #319DFF;font-weight:700">Bộ tính năng toàn diện</span>
                            <span class="text-center h2" style="color: #29303D;font-weight:700">Dành cho mọi gara, cửa hàng sửa chữa ô tô & xe máy</span>
                            <img class="w-100" src="~/Content/images/landing-page/gara/tinh_nang.png" />
                        </div>
                    </div>
                </div>
                <div class="op-gara-content">
                    <div class="container px-3 px-md-5">
                        <div class="d-flex flex-column gap-3 align-items-center">
                            <div class="row w-100 p-2 p-md-4" style="background-color: #F5FAFF;border-radius:32px">
                                <div class="col-12 col-md-6 gap-2">
                                    <div class="d-flex gap-3 align-items-center justify-content-start py-3 py-md-4">
                                        <img src="~/Content/images/landing-page/gara/i-employee.png" />
                                        <span style="font-size: 18px; font-weight: 700; color: #29303D">Chấm công, tính lương và hoa hồng cho nhân viên</span>
                                    </div>
                                    <div class="d-flex gap-3 align-items-center justify-content-start py-3 py-md-4">
                                        <img src="~/Content/images/landing-page/gara/i-report.png" />
                                        <span style="font-size: 18px; font-weight: 700; color: #29303D">Kiểm soát thu chi, quản lý công nợ, báo cáo kinh doanh</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <img class="w-100" src="~/Content/images/landing-page/gara/tinh_nang_bao_cao.png" />
                                </div>
                            </div>
                            <div class="row w-100 mt-2 mt-mb-3 p-2 p-md-4" style="background-color: #FFF1ED; border-radius: 32px;">
                                <div class="col-12 col-md-6  order-1 order-md-0">
                                    <img class="w-100" src="~/Content/images/landing-page/gara/tinh_nang_cong_viec.png" />
                                </div>
                                <div class="col-12 col-md-6 gap-2 order-0 order-md-1">
                                    <div class="d-flex gap-3 align-items-center justify-content-start py-3 py-md-4">
                                        <img c src="~/Content/images/landing-page/gara/i-calendar.png" />
                                        <span style="font-size: 18px; font-weight: 700; color: #29303D">Theo dõi lịch bảo hành, nhắc nhở xe đến hạn bảo dưỡng, chăm sóc định kỳ</span>
                                    </div>
                                    <div class="d-flex gap-3 align-items-center justify-content-start py-3 py-md-4">
                                        <img src="~/Content/images/landing-page/gara/i-email.png" />
                                        <span style="font-size: 18px; font-weight: 700; color: #29303D">Email marketing gửi mail tự động, tích hợp hệ thống tin nhắn thương hiệu sms brandname</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mt-md-4 w-100 text-center">
                                <button class="btn btn-trial" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
                            </div>
                        </div>
                    </div>
                </div>


                @* end - tính năng *@
                @* start - quy trình *@
                <div class="op-gara-content" id="quyTrinhRef">
                    <div class="container px-3 px-md-5">
                        <div class="d-flex flex-column gap-3 justify-content-center align-items-center">
                            <span class="text-uppercase text-center h7" style="color: #319DFF;font-weight:700">Quy trình chuyên nghiệp</span>
                            <span class="text-center h2" style="color: #29303D;font-weight:700">OPEN24 - GARA THU NHỎ CỦA BẠN</span>
                            <img class="w-100" src="~/Content/images/landing-page/gara/quy_trinh_lam_viec.png" />
                        </div>
                        <div class="mt-2 mt-md-4 w-100 text-center">
                            <button class="btn btn-trial" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
                        </div>
                    </div>
                </div>

                @* end - quy trình *@
                @* start - bảng giá *@
                <div class="w-100" style="background-color: #F5FAFF" id="bangGiaRef">
                    <div class="op-gara-content">
                        <div class="container px-3 px-md-5">
                            <div class="d-flex flex-column gap-3 align-items-center justify-content-center">
                                <span class="text-uppercase h7" style="color: #319DFF;font-weight:700">Quy trình chuyên nghiệp</span>
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <span class="text-center h2" style="color: #29303D;font-weight:700">Không chi phí phát sinh</span>
                                    <span class="text-center h2" style="color: #29303D;font-weight:700">Hỗ trợ trong suốt quá trình sử dụng</span>
                                </div>
                                <div class="row justify-content-center w-100 gap-0 gap-md-4 g-3 d-flex mt-4 mt-md-2">
                                    <div class="col-6 col-md-4 d-flex flex-column">
                                        <div class="d-flex flex-column p-2 p-md-4 " style="flex:1; border-radius: 1rem; border-top: 1px solid #EAECF0; border-right: 1px solid #EAECF0; border-left: 1px solid #EAECF0 ">
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <img style="width:40px" src="~/Content/images/landing-page/gara/i-flash-primary.png" />
                                                <span class="text-uppercase mt-3 text-center" style="color: #319DFF;font-weight:600;font-family:inherit">GÓI TRẢI NGHIỆM 1 THÁNG</span>
                                                <span class="mt-2 display-5 text-center" style="color: #29303D;font-weight:600;font-family:inherit">999.000 <span class="h6" style="color: #666768;font-weight:400;font-family:inherit">đ/tháng</span></span>
                                                <span class="mt-3 text-decoration-line-through h6 text-center" style="color: #666768;font-weight:700;font-family:inherit">1.449.000 đ/tháng</span>
                                            </div>
                                            <div class="pt-2 pt-md-3">
                                                <div class="op-panel-detail">
                                                    <div><span style="margin-left: 12px; font-size: 16px; font-weight: 400;color: #525F7A;font-family:inherit">1 chi nhánh</span></div>
                                                    <div><span style="margin-left: 12px; font-size: 16px; font-weight: 400; color: #525F7A">1 tài khoản</span></div>
                                                    <div><span style="margin-left: 12px; font-size: 16px; font-weight: 400; color: #525F7A">Không giới hạn tính năng</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-2 p-md-4" style="background: #EEF0F4; border-end-end-radius: 1rem; border-end-start-radius: 1rem; ">
                                            <button class="btn-trial-outline w-100 btn" data-bs-toggle="modal" data-bs-target="#modalTuVan" style="border-radius:8px">Dùng thử</button>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 d-flex flex-column" style="border-radius: 1rem;">
                                        <div class="d-flex flex-column text-white px-2 px-md-4 py-4" style="flex:1;background: #0078D7; border-start-end-radius: 1rem; border-start-start-radius: 1rem; ">
                                            <div class="position-relative">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <img src="~/Content/images/landing-page/gara/i-flash-orange.png" />
                                                    <span class="text-uppercase mt-3 text-center" style="font-weight:600;font-family:inherit">GÓI PHỔ BIẾN 1 NĂM</span>
                                                    <span class="mt-2 display-5 text-center" style="font-weight:600;font-family:inherit">4.999.000 <span class="h6" style="font-weight:400;font-family:inherit">đ/tháng</span></span>
                                                    <span class="mt-3 text-decoration-line-through h6 text-center" style="font-weight:700;font-family:inherit">7.449.000 đ/năm</span>
                                                    <div class="position-absolute w-100 top-0 start-50 suggest-price">
                                                        <span class="px-4 py-2 bg-secondary-green text-white" style="border-radius:20px">Đề xuất</span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="pt-2 pt-md-3">
                                                <div class="op-panel-detail">
                                                    <div><span style="margin-left: 12px; font-size: 16px; font-weight: 400;font-family:inherit">1 chi nhánh</span></div>
                                                    <div><span style="margin-left: 12px; font-size: 16px; font-weight: 400;">1 tài khoản</span></div>
                                                    <div><span style="margin-left: 12px; font-size: 16px; font-weight: 400;">Không giới hạn tính năng</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-2 p-md-4" style="background: #EEF0F4; border-end-end-radius: 1rem; border-end-start-radius: 1rem; ">
                                            <button class="btn-trial w-100 btn" data-bs-toggle="modal" data-bs-target="#modalTuVan" style="border-radius:8px">Dùng thử</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* end - bảng giá *@
                @* start - open24 gara giúp được gì *@
                <div class="op-gara-content">
                    <div class="container px-3 px-md-5">
                        <div class="text-center">
                            <span class="h2" style="color: #29303D;font-weight:700">OPEN24 - Phần mềm quản lý phổ biến</span>
                        </div>
                        <div class="row mt-2 mt-mb-4">
                            <div class="col-4">
                                <div class="box-card-shadow text-center h-100">
                                    <div>
                                        <img src="~/Content/images/landing-page/gara/i-doanh-thu.png" />
                                    </div>
                                    <div class="card-body h-100 mt-3 p-1 p-md-3">
                                        <h5 class="card-title">Tăng trưởng doanh thu</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-card-shadow text-center h-100">
                                    <div>
                                        <img src="~/Content/images/landing-page/gara/i-chi-phi.png" />
                                    </div>
                                    <div class="card-body h-100 mt-3 p-1 p-md-3">
                                        <h5 class="card-title">Tối ưu chi phí</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-card-shadow text-center h-100">
                                    <div>
                                        <img src="~/Content/images/landing-page/gara/i-quan-ly.png" />
                                    </div>
                                    <div class="card-body h-100 mt-3 p-1 p-md-3">
                                        <h5 class="card-title">Quản lý hiện đại</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* end - open24 gara giúp được gì *@
                @* start - open24 - khách hàng *@
                <div class="w-100 " style="background-color: #F5FAFF;" id="khachHangRef">
                    <div class="op-gara-content">
                        <div class="container px-3 px-md-5">
                            <div class="text-center">
                                <span class="h2" style="color: #29303D; font-weight: 700 ">Chúng tôi đồng hành cùng 12.000+ GARA trên khắp cả nước</span>
                            </div>
                            <div class="mt-2 mt-md-4">
                                <ul class="p-0 list-customer justify-content-center gap-2">
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/gara_xuan_thuy.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/Hz_Car.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/THC_Auto.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/Frame 1000004296.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/Frame 1000004297.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/PIAGGIO.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/Frame 1000004302.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/AKIKO.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/Frame 1000004299.png" />
                                    </li>
                                    <li>
                                        <img class="w-100" src="~/Content/images/landing-page/gara/customer/Ha_THanh_Gara.png" />
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
                @* end - open24 - khách hàng *@
                @* start - open24 support *@
                <div class="khach-hang-page w-100" style="background: linear-gradient(180deg, #F5F7F8 0%, rgba(242, 248, 253, 0) 120.28%); ">
                    <div class="op-gara-content">
                        <div class="container px-3 px-md-5">
                            <div class="row g-2 g-md-4">
                                <div class="col-12 col-md-4">
                                    <div class="box-card-shadow text-center h-100" style="padding: 32px 24px">
                                        <div>
                                            <img src="~/Content/images/landing-page/gara/i-group-employee.png" />
                                        </div>
                                        <div class="card-body d-flex flex-column h-100 mt-3 p-1 p-md-3">
                                            <span class="h6 text-center" style="font-weight: 600; font-family: inherit; color: #319DFF">Đội ngũ nhân viên</span>
                                            <span class="h7 text-center" style="font-weight: 400; font-family: inherit; color: #3D475C">Trên 10 năm kinh nghiệm mang tới cho bạn trải nghiệm  tuyệt vời</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="box-card-shadow text-center h-100" style="padding: 32px 24px">
                                        <div>
                                            <img src="~/Content/images/landing-page/gara/i-support.png" />
                                        </div>
                                        <div class="card-body d-flex flex-column h-100 mt-3 p-1 p-md-3">
                                            <span class="h6 text-center" style="font-weight: 600; font-family: inherit; color: #319DFF">Sẵn sàng hỗ trợ</span>
                                            <span class="h7 text-center" style="font-weight: 400; font-family: inherit; color: #3D475C">Luôn có mặt tiếp nhận thông tin và giải quyết vấn đề của bạn kịp thời</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="box-card-shadow text-center h-100" style="padding: 32px 24px">
                                        <div>
                                            <img src="~/Content/images/landing-page/gara/i-give-heart.png" />
                                        </div>
                                        <div class="card-body d-flex flex-column h-100 mt-3 p-1 p-md-3">
                                            <span class="h6 text-center" style="font-weight: 600; font-family: inherit; color: #319DFF">Tận tình tận tâm</span>
                                            <span class="h7 text-center" style="font-weight: 400; font-family: inherit; color: #3D475C">Khách hàng là trái tim của Lucky Beauty, phục vụ bạn bằng tấm lòng nồng nhiệt!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @* end - open24 support *@
            </div>
            <div class="position-relative">
                <div class="op-gara-content w-100 position-absolute bottom-0 start-50" style="transform: translate(-50%, 35%) !important;">
                    <div class="container px-3 px-md-5">
                        <div class="d-flex flex-column-reverse flex-lg-row justify-content-between pt-4 pb-0 pb-md-4 pb-lg-0 pt-lg-0" style="background: linear-gradient(0deg, rgba(251, 243, 243, 0.5), rgba(251, 243, 243, 0.5)), linear-gradient(0deg, rgba(252, 254, 255, 0.8), rgba(252, 254, 255, 0.8));border-radius:30px;max-height:300px">
                            <img class="w-25 d-inline d-md-none d-lg-inline" src="~/Content/images/landing-page/gara/car.png" />
                            <div class="d-flex flex-column justify-content-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <span class="text-center text-uppercase h2" style="color: #00284C;font-weight:700">BẠN THÀNH CÔNG</span>
                                    <span class="text-center text-uppercase h2" style="color: #00284C;font-weight:700">CHÚNG TÔI HẠNH PHÚC</span>
                                </div>
                                <div class="mt-2 mt-md-4 w-100 text-center">
                                    <button class="btn btn-trial" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử ngay</button>
                                </div>
                            </div>
                            <img class="d-none d-lg-inline" src="~/Content/images/landing-page/gara/img-man.png" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="landing-gara-footer">
                <div class="container">
                    <div class="d-flex flex-column flex-md-row justify-content-between gap-5">
                        <div class="d-flex flex-column justify-content-start gap-3">
                            <img src="/Content/images/logo-22112021.png" style="object-fit:cover;height:35px;width:fit-content" alt="Logo-Open24" />
                            <span class="text-uppercase text-lable">Công ty CP công nghệ phần mềm Ssoft Việt Nam</span>
                        </div>
                        <div class="d-flex flex-column justify-content-between gap-3">
                            <div class="d-flex align-items-start">
                                <i class="fa fa-map-marker" aria-hidden="true" style="color: #ffffff; margin: 2px 10px 0px 0; font-size: large;"></i>
                                <span class="text-content">Tầng 7, Tòa nhà Handiresco,Số 31 Lê Văn Lương, Thanh Xuân, Hà Nội.</span>
                            </div>
                            <div class="d-flex align-items-start">
                                <i class="fa fa-phone" aria-hidden="true" style="color: #ffffff; margin: 2px 10px 0px 0; font-size: large; "></i>
                                <span class="text-content">
                                    Hotline: <span>
                                        0247.303.9333 <br />
                                        0936.363.069 <br />
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex align-items-start">
                                <i class="fa fa-envelope" aria-hidden="true" style="color: #ffffff; margin: 2px 10px 0px 0; font-size: large;"></i>
                                <span class="text-content">Email: hotro@open24.vn</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- JavaScript dependencies -->
    <script src="~/Assets/js/Client/open24/localValidateFunction.js"></script>
    <script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
    <script src="~/Assets/js/Client/open24/open24.js"></script>
    <script>
    $(document).ready(function() {
        // Smooth scrolling for all links with hash anchors
        $('a[href^="#"]').on('click', function(event) {
            var target = $(this.getAttribute('href'));
            if( target.length ) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top,
                    behavior: 'smooth'
                }, 1000);
            }
        });
    });
    </script>
    <!-- Your additional scripts -->
</body>
</html>
@Html.Partial("~/Views/Open24/_ModalTuVanOpen24.cshtml")