<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>beta.ssoft.vn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>beta.ssoft.vn</MSDeployServiceURL>
    <DeployIisAppPath>beta.ssoft.vn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BanHang24vnContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Model_banhang24vn.BanHang24vnContext, Model_banhang24vn" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SsoftvnWebContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Model.Web.SsoftvnWebContext, Model.Web" MigrationConfiguration="Model.Web.Migrations.Configuration, Model.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="0981143688" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=data2.ssoft.vn;Initial Catalog=SSOFTWEB_0981143688;Persist Security Info=True;User ID=sa;Password=123asd!@#123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\0981143688_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=data2.ssoft.vn;initial catalog=SSOFTWEB_0981143688;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="0981143684" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=data2.ssoft.vn;Initial Catalog=SSOFTWEB_0981143684;Persist Security Info=True;User ID=sa;Password=123asd!@#123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\0981143684_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=data2.ssoft.vn;initial catalog=SSOFTWEB_0981143684;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SSOFTVN" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=data2.ssoft.vn;Initial Catalog=SSOFTWEB_SSOFTVN;Persist Security Info=True;User ID=sa;Password=123asd!@#123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SSOFTVN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=data2.ssoft.vn;initial catalog=SSOFTWEB_SSOFTVN;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)0981143684-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)0981143688-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BanHang24vnContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SSOFTVN-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SsoftvnWebContext-Web.config Connection String" />
  </ItemGroup>
</Project>