"<figure class="table" style="width:100%;"><table class="ck-table-resized"><colgroup><col style="width:21.27%;">
    <col style="width:5.19%;"><col style="width:73.54%;"></colgroup><tbody><tr><td style="width:15%;">&nbsp;</td><td style="width:2%;">&nbsp;</td>
    <td style="text-align:right;"><strong></strong><br><span style="font-size:14px;"></span><br><span style="font-size:14px;"></span></td></tr><tr>
    <td colspan="3"><p style="text-align:right;"><span style="font-size:14px;"><i>05/09/2023 14:28:30</i></span></p></td></tr></tbody></table>
    </figure><p>&nbsp;</p><p style="text-align:center;"><strong>HOÁ ĐƠN BÁN</strong><br><span style="font-size:14px;"><strong>HD010</strong>
           </span></p><p><span style="font-size:14px;">Khách hàng: Nguyen Huyen Thương</span></p><p><span style="font-size:14px;">Điện thoại: </span><br>&nbsp;</p>
<figure class="table" style="width:100%;"><table><thead><tr><th style="border-bottom:1px solid black;width:35%;"><span style="font-size:14px;">
    <strong>Đơn giá</strong></span></th><th style="border-bottom:1px solid black;text-align:center;width:15%;"><span style="font-size:14px;">
    <strong>SL</strong></span></th><th style="border-bottom:1px solid black;text-align:right;width:50%;"><span style="font-size:14px;">
    <strong>TT</strong></span></th></tr></thead><tbody><tr><td colspan="3"><span style="font-size:14px;">DV 02</span></td></tr><tr>
    <td style="border-bottom:1px dashed black;"><span style="font-size:14px;">180.000</span></td><td style="border-bottom:1px dashed black;text-align:center;">
    <span style="font-size:14px;">2</span></td><td style="border-bottom:1px dashed black;text-align:right;"><span style="font-size:14px;">360.000</span></td>
           </tr><tr><td colspan="3"><span style="font-size:14px;">Giảm béo kangjin</span></td></tr><tr><td style="border-bottom:1px dashed black;">
    <span style="font-size:14px;">500.000</span></td><td style="border-bottom:1px dashed black;text-align:center;"><span style="font-size:14px;">3</span></td>
    <td style="border-bottom:1px dashed black;text-align:right;"><span style="font-size:14px;">1.500.000</span></td></tr><tr><td colspan="3">
    <span style="font-size:14px;">Thêm liên tục 01</span></td></tr><tr><td style="border-bottom:1px dashed black;"><span style="font-size:14px;">675.000</span></td>
    <td style="border-bottom:1px dashed black;text-align:center;"><span style="font-size:14px;">2</span></td>
    <td style="border-bottom:1px dashed black;text-align:right;"><span style="font-size:14px;">1.350.000</span></td></tr>
        </tbody></table></figure><p>&nbsp;</p><figure class="table" style="width:100%;">
    <table><tbody><tr><td style="text-align:right;"><span style="font-size:14px;">Tổng tiền hàng:</span></td>
        <td style="text-align:right;"><span style="font-size:14px;"><strong>3.210.000</strong></span></td></tr>
        <tr><td style="text-align:right;"><span style="font-size:14px;">Tiền khách đưa:</span></td>
        <td style="text-align:right;"><span style="font-size:14px;"><strong>0</strong></span></td></tr></tbody></table>
                                                            </figure><p><span style="font-size:14px;">Tiền bằng chữ:  đồng</span></p>
<p style="page-break-before:always;"></p>"