
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liên hệ & hỗ trợ khách hàng";
}

@section scripts {
    <script src="~/Scripts/Post/Contact.js"></script>
}
<style>
    .from-request {
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 0px rgba(39, 69, 115, 0.10);
        padding: 40px;
    }

    .btn-trial {
        border-radius: 20px;
        background: #FFFFFF;
        padding: 8px 16px;
        color: #0078D7;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0;
        width: 150px;
    }

        .btn-trial:hover {
            letter-spacing: 1.5px;
            border-radius: 20px;
            background: #FFFFFF;
            padding: 8px 16px;
            color: #0078D7;
            font-size: 16px;
            font-weight: 700;
            width: 180px;
        }
</style>
<div class="container-fluid" style="background: #F4F6FD;">
    <div class="container " style="padding: 80px 0">
        <div style="display:flex;align-items:start">
            <div style="display: flex; flex-direction: column; min-width: 295px;" data-aos="fade-right">
                <div style="color: #0078D7;font-size:16px;font-weight:700">Liên hệ</div>
                <div style="color: #172B4D;font-size:40px;font-weight:700">Liên hệ với chúng tôi</div>
                <div style="color: #525F7A; font-size:16px;font-weight:400">Open 24 sẵn sàng hỗ trợ 24/7 giải đáp mọi thắc mắc </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white">
    <div class="container" style="padding: 8vh 0">
        <div class="row">
            <div class="col-7">
                <div class="flex justify-content-start align-items-center flex-row" style="padding: 8px 0px">
                    <img src="~/Content/images/i-home.svg" />
                    <div class="flex justify-content-between align-items-start flex-column" style="margin-left:24px">
                        <span style="color: #3D475C;font-size:18px; font-weight:700">Địa chỉ</span>
                        <span style="color: #525F7A;font-size: 16px;font-weight:400 ">Tầng 7, Tòa nhà Handiresco,Số 31 Lê Văn Lương,Thanh Xuân, Hà Nội.</span>
                    </div>
                </div>
                <div class="flex justify-content-start align-items-center flex-row" style="padding: 8px 0px">
                    <img src="~/Content/images/i-phone.svg" />
                    <div class="flex justify-content-between align-items-start flex-column" style="margin-left:24px">
                        <span style="color: #3D475C;font-size:18px; font-weight:700">Số điện thoại</span>
                        <span style="color: #525F7A;font-size: 16px;font-weight:400 ">024 730 39 333</span>
                    </div>
                </div>
                <div class="flex justify-content-start align-items-center flex-row" style="padding: 8px 0px">
                    <img src="~/Content/images/i-email.svg" />
                    <div class="flex justify-content-between align-items-start flex-column" style="margin-left:24px">
                        <span style="color: #3D475C;font-size:18px; font-weight:700">Email</span>
                        <span style="color: #525F7A;font-size: 16px;font-weight:400 ">hỗ trợ@open24.vn</span>
                    </div>
                </div>
            </div>
            <div class="col-5" style="position: relative; z-index:1">
                <div>
                    <div class="form-request" style="position: absolute; top: -120%;right:5%; z-index: 2; width: 100%; padding: 40px; background: #FFF; box-shadow: 5px 5px 20px 0px rgba(39, 69, 115, 0.10); border-radius:20px">
                        <h5 class="text-center" style="color: #3D475C; font-size: 24px; font-weight: 700;margin-bottom:24px">
                            Gửi yêu cầu cần tư vấn
                        </h5>
                        <form>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="txtHoTen" placeholder="Họ và tên">
                                <label for="txtHoTen">Họ và tên</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com">
                                <label for="txtEmail">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="txtDienThoai" placeholder="Số điện thoại">
                                <label for="txtDienThoai">Số điện thoại</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea type="text" class="form-control" id="txtNoiDung" placeholder="Nội dung yêu cầu" style="height:120px"></textarea>
                                <label for="txtNoiDung">Nội dung</label>
                            </div>
                            <button class="btn-submit" style="margin: 10px 0; width: 100%; background-color: #FF5C35; color: #FEFEFF">
                                Gửi yêu cầu
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding:80px 0">
        <div class="flex flex-column justify-content-center align-items-center" style="background: linear-gradient(#A4D9FF, #86E2FF, #7BD0FF); border-radius: 20px; height: 280px;text-align:center">
            <div style="color:white;font-size:32px;font-weight:700">Tối ưu công việc kinh doanh với Open 24 ngay hôm nay</div>
            <button class="btn btn-trial" style="margin-top:60px" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử ngay</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="padding-top: 5%;">
        <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>
<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>

<script>

    function ShowDangKy(opt) {
        console.log(opt)
        $("#currentPage").val(opt);
        $("#ID_chosen").val("Open24 " + $("#currentPage").val());
        $("#modalTuVan").modal("show");

    }

    $(function () {
        let urlCheckDangKy = window.location.href.lastIndexOf("#dangky");
        console.log(urlCheckDangKy);
        if (urlCheckDangKy > 0) {
            $("#modalTuVan").modal("show");
        }
    });
</script>
