@*--------------------------------------------------Layout for ActionView in HomeController TNS 15012021-------------------------------------------------*@
@{
    ViewBag.Title = "Hỗ trợ phần mềm open24";

}
<style>
    .input-search {
        border: 1px solid #C2C9D6;
        border-radius: 8px;
        width: 100%;
        height: 40px;
        padding: 9px 4px 9px 40px;
        background: white url('../../content/images/open24/i-search.svg') no-repeat 13px center;
    }

        .input-search:focus {
            border-color: #1183d6;
            outline: none;
            box-shadow: 0 0 3px 0 #1183d6;
        }
    .btn-show-more {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 6px 16px;
        border-radius: 24px;
        background: white;
        border: 1px solid #C2C9D6;
        color: #525F7A;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
        .btn-show-more:hover {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 6px 16px;
            border-radius: 24px;
            background: #FF5C35;
            color: white;
            border: none;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }
    .title-support {
        color: #3D475C !important;
        font-family: Roboto;
        font-size: 14px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-top:16px;
        margin-bottom:24px;
    }
    .op-description-title {
        color: #3D475C;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }
    .op-description-detail {
        display: inline-block;
        color: #525F7A;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    a.op-description-toggle {
        text-align: center;
        font-size: 24px;
        background: #FF5C35;
        border-radius: 50%;
        display: flex;
        width: 48px;
        height: 48px;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: white;
    }
    .op-functional-img {
        height: 90px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .huong-dan-tinh-nang {
        background-color: transparent;
        padding: 32px 24px !important;
        border-radius: 8px;
    }
    .huong-dan-tinh-nang:hover {
        background-color: #FFF;
        box-shadow: 5px 5px 20px 0px rgba(39, 69, 115, 0.10);
        padding: 32px 24px;
        border-radius: 8px;
    }

    .huong-dan-vai-tro {
        background-color: #F5FAFF;
        padding: 24px 12px !important;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .huong-dan-vai-tro:hover {
            background-color: #FFF;
            box-shadow: 5px 5px 20px 0px rgba(39, 69, 115, 0.10);
            padding: 24px 12px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    .tinh-nang-title {
        font-size: 16px;
        font-weight: 400;
        color: #3D475C
    }
</style>
<div class="container-fluid op-banner" style="background: #F4F6FD;height:371px">
    <div class="container" style="height: 100%; justify-content: center;">

        <div style="display:flex; flex-direction:column; align-items:center; justify-content:space-between; width:100%">
            <div></div>
            <div style="width: 80%; text-align: center; color: white;">
                <h3 style="font-size: 48px; color: #172B4D;font-weight:700">
                    Trung tâm hỗ trợ sử dụng Open24
                </h3>
                <div style="position:relative; width:100%; padding:49px 0 15px">
                    <input class="input-search" type="text" placeholder="Nhập thông tin bạn muốn tìm kiếm..." value="@ViewBag.SearchString" />
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>

<div class="container" style="padding:80px 0">
    <div class="op-section-title">
        <font>Hướng dẫn theo vai trò</font>
    </div>
    <ul class="container-fluid op-functional " >
        <li>
            <div class="huong-dan-vai-tro w-100">
                <div class="op-functional-img-lg">
                    <img src="~/Content/images/huongdansudung/thu_ngan_2.svg" />
                </div>
                <div class="title-support">Thu ngân</div>
                <a class="btn btn-show-more" href="/huong-dan-su-dung/5/0/nhom-tinh-nang-nganh-nghe-thu-ngan">Xem thêm</a>
            </div>
        </li>
        <li>
            <div class="huong-dan-vai-tro w-100">
                <div class="op-functional-img-lg">
                    <img src="~/Content/images/huongdansudung/ke_toan_2.svg" />
                </div>
                <span class="title-support">Kế toán</span>
                <a class="btn btn-show-more" href="/huong-dan-su-dung/6/0/nhom-tinh-nang-nganh-nghe-ke-toan">Xem thêm</a>
            </div>
        </li>
        <li>
            <div class="huong-dan-vai-tro w-100">
                <div class="op-functional-img-lg">
                    <img src="~/Content/images/huongdansudung/marketing_2.svg" />
                </div>
                <span class="title-support">Marketing</span>
                <a class="btn btn-show-more" href="/huong-dan-su-dung/10/0/nhom-tinh-nang-nganh-nghe-marketing">Xem thêm</a>
            </div>
        </li>
        <li>
            <div class="huong-dan-vai-tro w-100">
                <div class="op-functional-img-lg">
                    <img src="~/Content/images/huongdansudung/cham_soc_khach_hang_2.svg" />
                </div>
                <span class="title-support">Chăm sóc khách hàng</span>
                <a class="btn btn-show-more" href="/huong-dan-su-dung/8/0/nhom-tinh-nang-nganh-nghe-cham-soc-khach-hang">Xem thêm</a>
            </div>
        </li>
        <li>
            <div class="huong-dan-vai-tro w-100">
                <div class="op-functional-img-lg">
                    <img src="~/Content/images/huongdansudung/quan_ly_2.svg" />
                </div>
                <span class="title-support">Quản lý</span>
                <a class="btn btn-show-more" href="/huong-dan-su-dung/9/0/nhom-tinh-nang-nganh-nghe-quan-ly">Xem thêm</a>
            </div>
        </li>

    </ul>
</div>

<div class="container-fluid" style="background: #F4F5F7;padding:80px 0">
    <div class="op-section-title">
        <font>Tính năng Open24</font>
    </div>
    <ul class="container op-functional">
        <li class="text-center huong-dan-tinh-nang">
            <a  href="/huong-dan-su-dung/0/37/danh-muc-tinh-nang-cai-dat-he-thong">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/cai-dat-he-thong-2.png" />
                </div>
                <span style="margin-top: 16px; font-size: 16px; font-weight: 400; color: #3D475C">Cài đặt hệ thống</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/10031/danh-muc-tinh-nang-phan-quyen">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/phan-quyen-2.png" />
                </div>
                <span class="tinh-nang-title">Phân quyền</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/70/danh-muc-tinh-nang-nguoi-dung">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/nguoi-dung-2.png" />
                </div>
                <span class="tinh-nang-title">Người dùng</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/30/danh-muc-tinh-nang-hang-hoa">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/hang-hoa-2.png" />
                </div>
                <span class="tinh-nang-title">Hàng hóa</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/50/danh-muc-tinh-nang-nhap-hang">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/nhap-hang-2.png" />
                </div>
                <span class="tinh-nang-title">Nhập hàng</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/47/danh-muc-tinh-nang-ban-hang">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/ban-hang-2.png" />
                </div>
                <span class="tinh-nang-title">Bán hàng</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/49/danh-muc-tinh-nang-doi-tra-hang-ban">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/doi-tra-hang-2.png" />
                </div>
                <span class="tinh-nang-title">Đổi trả hàng</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/51/danh-muc-tinh-nang-tra-hang-nhap">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/tra-hang-nhap-2.png" />
                </div>
                <span class="tinh-nang-title">Trả hàng nhập</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/53/danh-muc-tinh-nang-xuat-kho">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/xuat-kho-2.png" />
                </div>
                <span class="tinh-nang-title">Xuất kho</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/52/danh-muc-tinh-nang-dieu-chuyen">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/dieu-chuyen-2.png" />
                </div>
                <span class="tinh-nang-title">Điều chuyển</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/10030/danh-muc-tinh-nang-khuyen-mai">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/khuyen-mai-2.png" />
                </div>
                <span class="tinh-nang-title">Khuyến mại</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/33/danh-muc-tinh-nang-thu-chi">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/thu-chi-2.png" />
                </div>
                <span class="tinh-nang-title">Thu chi</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/34/danh-muc-tinh-nang-bao-cao">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/bao-cao-2.png" />
                </div>
                <span class="tinh-nang-title">Báo cáo</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/32/danh-muc-tinh-nang-khach-hang-nha-cung-cap">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/khach-hang-2.png" />
                </div>
                <span class="tinh-nang-title">Khách hàng, nhà cung cấp</span>
            </a>
        </li>
        <li class="text-center huong-dan-tinh-nang">
            <a href="/huong-dan-su-dung/0/35/danh-muc-tinh-nang-nhan-vien">
                <div style="margin-bottom:16px">
                    <img src="~/Content/images/huongdansudung/nhan-vien-2.png" />
                </div>
                <span class="tinh-nang-title">Nhân viên</span>
            </a>
        </li>
    </ul>
</div>






<div class="container">

    <div class="op-section-title">
        <font>Các câu hỏi thường gặp</font>
    </div>

    <div data-bind="foreach:listCauHoileft">
        <div class="op-description mb-3">
            <div class="op-description-header" onclick="ToggleNext(this)">
                <div class="op-description-title">

                    <div data-bind="text:CauHoi"></div>
                </div>
                <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
            </div>
            <div class="op-description-body">
                <div class="op-description-item">

                    <span class="op-description-detail">
                        <span data-bind="html:CauTraLoi">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center m-4 bg-white" id="Addnew">
        <a href="#" data-bind="click:nextpage">Xem thêm</a>
    </div>
</div>
<div class="container" style="padding: 40px 0; background: #F4F5F7; border-radius:24px">
    <div class="op-section-title mb-3">
        <font>Phần mềm hỗ trợ</font>
    </div>
    <div class="row p-4" style="">
        <div class="col-md-4 col-xs-12 mb-2">
            <div style="padding: 0px 12px; border-radius: 8px; box-shadow: 5px 5px 20px 0px rgba(39, 69, 115, 0.10);" class="bg-white">
                <div class="flex justify-content-start" style="padding:40px">
                    <img src="~/Content/images/huongdansudung/teamviewer-2.png" style="width:80px;height:80px" />
                    <div class="op-download-helper justify-content-between align-items-start ml-2">
                        <b>Teamviewer</b>
                        <a target="_blank" href="https://www.teamviewer.com/vi/"><i class="fa fa-cloud-download"></i>Tải xuống</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 mb-2">
            <div style="padding: 0px 12px; border-radius: 8px; box-shadow: 5px 5px 20px 0px rgba(39, 69, 115, 0.10);" class="bg-white">
                <div class="flex justify-content-start" style="padding:40px">
                    <img src="~/Content/images/huongdansudung/ultraviewer.png" style="width:80px;height:80px" />
                    <div class="op-download-helper justify-content-between align-items-start ml-2">
                        <b>
                            Ultraviewer
                        </b>
                        <a target="_blank" href="https://ultraviewer.net/vi/"><i class="fa fa-cloud-download"></i>Tải xuống</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 mb-2">
            <div style="padding: 0px 12px; border-radius: 8px; box-shadow: 5px 5px 20px 0px rgba(39, 69, 115, 0.10);" class="bg-white">
                <div class="flex justify-content-start" style="padding:40px">
                    <img src="~/Content/images/huongdansudung/driver-printer.png" style="width:80px;height:80px"/>
                    <div class="op-download-helper justify-content-between align-items-start ml-2">
                        <b>Driver</b>
                        <a target="_blank" href="https://xprinter.vn/download-driver-may-in-driver-pos-printer/"><i class="fa fa-cloud-download"></i>Tải xuống</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background:#F5FAFE; margin-top:30px">

    @Html.Partial("~/Views/Open24/_RequestPartial.cshtml")
</div>

<div style="background-image: url(../../Content/images/huongdansudung/banner-bg.png);outline: none;background-size: 100%;display: flex;">

    <div class="container" style="display:flex; flex-direction:row; align-items:center; justify-content:space-between">
        <div style="float:left">
            <h4 style="font-size:30px; color:white; line-height:34px;">
                Chúng tôi luôn<span class="yellow"> đồng hành cùng bạn</span>
                <br />
                <span class="yellow">  Thành công của bạn</span> chính là
                <br />
                mong muốn của chúng tôi
            </h4>
            <button class="btn-ads" data-toggle="modal" data-target="#modalTuVan">
                Đăng ký dùng thử
            </button>
        </div>
        <div style="float:right">
            <img src="~/Content/images/huongdansudung/customer247.png" />
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            var hotrophanmem = function () {
                var self = this;
                //===============================
                // Khai báo chung
                //===============================
                self.listnhomnganh = ko.observableArray();
                self.listResult = ko.observableArray();
                self.listCauHoileft = ko.observableArray();
                self.listCauHoiright = ko.observableArray();
                self.page = ko.observable(1);
                //self.groupNhom = ko.observable(id);
                //self.groupNhomtinhnang = ko.observable(nhomId);
                self.tentitle = ko.observable();
                self.video = ko.observable();
                self.noidung = ko.observable();

                function loadHoTro() {
                    $.ajax({
                        url: '/Open24Api/ApiHoTro/GetViewHoTro',
                        type: 'GET',
                        async: true,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (result) {
                            if (result.res === true) {

                                self.listnhomnganh(result.DataSoure.NhomNganh);
                                self.listResult(result.DataSoure.TinhNang);
                            }
                            else {
                                alert(result.mess);
                            }

                        },
                        error: function (result) {
                            alert(result);
                        }
                    });

                }

                function loadCauHoi() {
                    $.ajax({
                        url: '/Open24Api/ApiHoTro/GetViewCauHoi?page=' + self.page(),
                        type: 'GET',
                        async: true,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (result) {
                            if (result.res === true) {
                                var length = result.DataSoure.length;
                                if (length <= 0) {
                                    $('#Addnew').hide();
                                }
                                //var max = length / 2;
                                var itemleft = self.listCauHoileft();
                                itemleft.push.apply(itemleft, result.DataSoure);
                                //var itemright = self.listCauHoiright();
                                //itemright.push.apply(itemright, result.DataSoure.slice(0, max))
                                self.listCauHoileft(itemleft);
                                //self.listCauHoiright(result.DataSoure.slice(max, length));
                            }
                            else {
                                alert(result.mess);
                            }

                        },
                        error: function (result) {
                            alert(result);
                        }
                    });

                }

                self.nextpage = function () {
                    self.page(self.page() + 1);
                    loadCauHoi();
                }
                loadCauHoi();
                loadHoTro();

                return self;
            };
            var viewmodel = new hotrophanmem();
            console.log(viewmodel);
            ko.applyBindings(viewmodel);
            $(".input-search").on('keyup', function (e) {
                if (e.keyCode == 13) {
                    window.location.href = "/ho-tro-tim-kiem?search=" + $(this).val();
                }
            });
            $('.group-btn-cau-hoi ').on('click', 'li a', function () {
                var css = $(this).next('.ht-cau-tra-loi').css('display');
                $('.fa-plus').show();
                $('.fa-minus').hide();
                $('.ht-cau-tra-loi').hide();
                $('.ht-a-tt').removeClass('ht-tl-active');
                if (css === 'none') {
                    $(this).find('i').each(function () {
                        $(this).toggle();
                    })
                    $(this).next('.ht-cau-tra-loi').toggle();
                    $(this).find('p').addClass('ht-tl-active')
                }
            });
        })
        
    </script>
}